.toolbar {
  font-size: 20px;
  font-weight: bold;
  padding: 0 16px;
}

.section {
  margin: 30px 140px;
}

.masonry-tile {
  width: 250px;
  margin: 10px;
}

.dashboard-card {
  text-align: center;
  padding: 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dept-icon {
  font-size: 25px;
  color: #3f51b5;
}

.dept-title {
  margin: 8px 0 0;
  font-size: 16px;
}
