.card-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  gap: 10px;
  padding: 16px;
  flex-wrap: wrap;
}

.service-card {
  width: 100%;
  padding: 1rem;
}
.service-card div[ngif] {
  transition: all 0.3s ease;
  overflow: hidden;
}
/* .card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10 px;
} */

.grid-item {
  width: calc(24.88% - 16px);
  margin: 0.3rem;
  transition: height 0.3s ease;
}

.grid-item:hover {
box-shadow: 0px 0px 5px #000;
}
