<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Patient Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/patient-encounter" routerLinkActive="active">Encounter</a>
      <a mat-list-item routerLink="/condition" routerLinkActive="active">Condition</a>
      <a mat-list-item routerLink="/observation" routerLinkActive="active">Observation</a>
      <a mat-list-item routerLink="/medication-request" routerLinkActive="active">Medication Request</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <!-- <mat-toolbar color="primary">Patient Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of patientMenuItems"
         [routerLink]="item.link"
         routerLinkActive="active">
        {{ item.name }}
      </a>
      <a mat-list-item *ngFor="let item of practitionerMenuItems"
      [routerLink]="item.link"
      routerLinkActive="active">
     {{ item.name }}
   </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>

